#app {
}

h1 {
  text-align: center;
}

.container {
  width: 550px;
  margin: auto;
}

.grid td {
  width: 55px;
  height: 50px;
  border: 2px solid black;
  text-align: center;
  float: left;
  margin: 5px;
}


.reserved {
  background: rgba(97, 97, 97, 0.521);
  color: #fff;
  display: inline-block;
  opacity: .6;

}
.reserved:hover{
  cursor: not-allowed;

}

.selected {
  background: green;
  color: #fff;
  display: inline-block;
}

.reserved::after {
  /* content: 'RESERVED'; */
  /* font-size: 14px; */

}

.selected::after {
  /* font-size: 14px; */
  /* content: 'SELECTED' */
}

.available::after {
  /* font-size: 14px; */
  /* content: 'AVAILABLE' */
}

.available {
  color: #333;
}
.selected:hover,.available:hover{
  opacity: .7;
  cursor: pointer;
}
li {
  list-style: none;
}

.btnmargin{
  margin-top: 15px;
}
.confirmationSection div{
  margin-top: 2rem;
  /* text-align: center; */
  /* display: flex;  */

}
.confirmationSection b{
  margin:unset
}
.paper{
  padding: 30px;
  /* display: flex; */
  overflow: auto;
  /* flex-direction: column; */
  font-size: 16px;

}
.spinner{
  display: flex;
  position:absolute;
  left:50%;
  top:50%;
z-index:10}